.MainBg {
    position: relative;
}

.MainBg img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.MainBg .MainBgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.4;
}

.MainBgContent {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.MainBgContent h6 {
    font-weight: 800;
    font-size: 60px;
}

.MainBgContent h5 {
    font-size: 30px;
    font-weight: 900;
    margin-top: 10px;
}

@media(max-width: 1030px) {
    .MainBg h6 {
        font-size: 40px !important;
    }

    .MainBg h5 {
        font-size: 15px !important;
    }
}