.GuidelinesMainConta {
    margin-block: 30px;
}

.GuidelinesMainConta .col-lg-6:first-child {
    border-right: 0.5px dashed #000;
    max-height: max-content;
}

.GuidelinesMainConta .col-lg-6 h6 {
    font-weight: 800;
    color: #000;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 40px;
    border-bottom: 0.1px dashed #000;
    max-width: max-content;
}

.GuidelinesMainConta .col-lg-6:last-child h6 {
    color: #ff0000;
    font-weight: 900;
    border-bottom: 0.1px dashed #ff0000;
    max-width: max-content;
}

.GuidelinesMainConta .col-lg-6 .mainGp {
    border-bottom: 0.1px dashed #000;
    padding: 10px;
    max-width: max-content;
}

.GuidelinesMainConta .col-lg-6 .mainGp:last-child {
    border-bottom: none;
}

.GuidelinesMainConta .col-lg-6 .MustFollowGuideLines_C_Header,
.GuidelinesMainConta .col-lg-6 .SimpleGuidelines_C_Header {
    font-weight: 800;
    color: #000;
}

/* For FinalMess */
.GuidelinesMainConta .FinalMess {
    background: #d3c499;
    padding: 20px;
    color: #fff;
    font-weight: 800;
    border-left: 12px solid var(--main);
}